@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF')
}

body {
    font-family: 'SF Pro Display';
}

html,
body {
    height: 100%;
}

main {
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* header */

/* nav */
.navbar__min-box {
    width: 100%;
}

.navbar__form {
    width: 304px;
}

.navbar-brand {
    font-size: 36px;
    line-height: 43px;
}

.form-control::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.navbar__meny-box {
    width: 100%;
}

.navbar__meny {
    margin: 0 63px 0 103px;
}

.nav-link {
    font-size: 18px;
    line-height: 21px;
}

.navbar__btn-span {
    font-size: 21px;
    display: inline-block;
    margin-right: 10px;
}

.navbar-btn {
    font-size: 18px;
    line-height: 21px;
    background: #FE8B37;
    padding: 15px 20px 15px 25px;
}


/* end of nav */

/* hero box */
.hero__title {
    font-size: 64px;
    line-height: 79px;
    max-width: 840px;
    padding: 100px 0 141px 0;
    position: relative;
}

.big__box {
    display: flex;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: absolute;
    top: 438px;
}

.hero__box-btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    display: flex;
    align-items: center;
    column-gap: 13px;
    padding: 38px 45px 38px 44px;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.first-btn {
    padding-left: 70px;
}

.last-btn {
    padding-right: 83px;
}

.hero__last-btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 38px 52px;
}

/* end of hero box */

/* end of header */

/* section */
/* cards box  */
.box__cards {
    margin: 202px 0 236px 0;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.box__cards-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.card-title {
    max-width: 350px;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #333333;
    margin-bottom: 26px;
}

.card-body {
    padding: 20px 0px 57px 30px;
}

.online {
    padding-bottom: 38px;
}

.card__body-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 0;
}

.card__body-item {
    display: flex;
    align-items: center;
    column-gap: 13px;
    width: 100%;
}

.card__body-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin-bottom: 0;
}

.card__btn {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: #006AFF;
    border-radius: 5px;
    border: none;
    padding: 15px 0;
    width: 148px;
    margin: 0 auto;
}

/* end of cards box  */
/* end of section */

/* reklama box */
.reklama__box {
    margin-bottom: 129px;
    width: 100%;
}

.reklama__left-box,
.reklama__right-box {
    max-width: 620px;
    background: #055BD3;
    border-radius: 5px;
    position: relative;
    width: 100%;
}

.reklama__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    color: #FFFFFF;
    padding: 70px 0px 81px 30px;
    max-width: 323px;
}

.reklama__img {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* end of reklama box */

/* footer */
footer {
    background: linear-gradient(265.48deg, #095ACD 33.12%, #006AFF 84.7%);
    padding: 40px 0 33px 0;
}

.footer__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__link {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__mene {
    display: flex;
    align-items: center;
    column-gap: 77px;
    padding: 0;
    margin: 0;
}

.footer__mene-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__logo-box {
    display: flex;
    align-items: center;
    column-gap: 56px;
}

.contact {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.footer__logo {
    display: flex;
    align-items: center;
    column-gap: 18px;
    margin: 0;
}

/* end of footer */